<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    </system.web>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="application/x-font-otf" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
        <defaultDocument enabled="true">
            <files>
                <remove value="index.html" />
                <add value="pso-get-the-facts.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules configSource="rewriteRules.config" />
        </rewrite>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <security>
            <requestFiltering removeServerHeader="true" />
            <!-- <requestLimits maxAllowedContentLength="524288000" /> -->
        </security>
        <httpErrors errorMode="Custom">
            <clear />
            <error statusCode="404" path="custom404.html" responseMode="File" />
            <error statusCode="500" path="custom500.html" responseMode="File" />
        </httpErrors>
        <validation validateIntegratedModeConfiguration="false" />
        <!--<modules runAllManagedModulesForAllRequests="false" />-->
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Content-Security-Policy" value="frame-ancestors 'self' " />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload " />
                <add name="X-XSS-Protection" value="1" />
                <add name="X-Content-Type-Options" value="nosniff " />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <remove name="Vary" />
                <add name="Vary" value="Accept-Encoding" />
                <add name="X-UA-Compatible" value="IE=Edge" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>