<rules>

<rule name="Remove trailing slash" stopProcessing="true">
	<match url="(.*)/$" />
	<conditions>
	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	</conditions>
	<action type="Redirect" redirectType="Permanent" url="{R:1}" />
</rule>

<rule name="Get The Facts">
        <match url="^psa-get-the-facts" />
        <action type="Rewrite" url="psa-get-the-facts.html" />
    </rule>

<rule name="Real Relief">
        <match url="^psa-real-relief" />
        <action type="Rewrite" url="psa-real-relief.html" />
    </rule>

<rule name="Cosentyx Experience">
        <match url="^psa-cosentyx-experience" />
        <action type="Rewrite" url="psa-cosentyx-experience.html" />
    </rule>

<rule name="Appointment Prep">
        <match url="^psa-appointment-prep" />
        <action type="Rewrite" url="psa-appointment-prep.html" />
    </rule>

<rule name="Savings Options">
        <match url="^psa-savings-options" />
        <action type="Rewrite" url="psa-savings-options.html" />
    </rule>

<rule name="Personal Support">
        <match url="^psa-personal-support" />
        <action type="Rewrite" url="psa-personal-support.html" />
    </rule>

<!--<rule name="Test" stopProcessing="true">
    <match url="en-us/growth-chart-calculator" />
    <action type="Redirect" url="/en-us/baby/growth-chart-calculator" appendQueryString="true" redirectType="Permanent" />
  </rule>-->

<!--<rule name="404" stopProcessing="true">
    <match url="^en-us/404" />
    <action type="Rewrite" url="https://legacy.pampers.com/error-404-page" />
</rule>-->

<rule name="robot">
    <match url="^robots.txt" />
    <action type="Rewrite" url="robots.txt" />
</rule>

</rules>
